@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700");
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #54ACF0;
	color: #000;
	font-family: "Lato";
}

a {
	color: #FFF;
}

.navbar a {
	color: #FFF;
}

.navbar-dafault .navbar-toggle {
	border-color: #54ACF0;
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border: 0;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #ecf0f1;
}

.parallax {
	background: no-repeat fixed 50% 0;
	position: relative;
	box-shadow: inset 0 4px 6px rgba(0,0,0,.6);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	text-align: center;
	color: #fff;
	height: 100%;
	min-height: 700px;
	width: 100%;
	overflow: hidden;
	-ms-behavior: url("http://griny.frosenka.ru/onepage/css/backgroundsize.min.htc");
	behavior: url("http://griny.frosenka.ru/onepage/css/backgroundsize.min.htc");
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#home {
	/* background: url(http://f.cl.ly/items/1b2V08451N440W0H420K/bg.jpg); */
	background-image: url('../images/parallax4.jpg');
	background-size: cover;
	margin-bottom: -50px;
}

#apple {
	background-image: url('../images/bg4.jpg');
}
#disney {
	background-image: url('../images/bg7.jpg');
}
#cook {
	background-image: url('../images/parallax3.jpg');
}
#rostand {
	background-image: url('../images/parallax2.jpg');
}
#da-vinci {
	background-image: url('../images/parallax1.jpg');
}

h2 small {
	color: #555;
}

.text-center {
	text-align: center;
}

.footer-icons a {
	background: rgba(255, 255, 255, .2);
	height: 30px;
	width: 30px;
	display: inline-block;
	border-radius: 15px;
}
.footer-icons a i {
	position: relative;
	top: 5px;
	left: 10px;
}

.parallax .text {
	width: 60%;
	margin: 0 auto;
	position: relative;
	top: 30%;
	padding: 30px 20px 35px;
	background: rgba(0,0,0,.5);
	border: .2em solid #fff;
	font-size: 30px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 1.2;
}

blockquote {
	border: none;
	font-size: 28px;
	margin-bottom: 0;
	font-weight: 300;
	line-height: 1.3;
	padding: 0;
}

blockquote h2 {
	border: none;
	box-shadow: none;
	padding: 0;
	font-size: 34px;
	margin-bottom: 10px;
	margin-top: 0;
	font-weight: 600;
	letter-spacing: 1px;
}

.text h2 {
	margin-bottom: 20px;
}

blockquote small {
	margin-top: 15px;
	color: #fff;
}

.color {
	color: #54ACF0;
}

blockquote small:after {
	content: " —";
}

#first-text {
	width: 100%;
	position: absolute;
	top: 20%;
	text-align: center;
	background: rgba(0,0,0,.5);
	height: 15%;

}
#second-text {
	width: 100%;
	top: 35%;
	position: fixed;
	text-align: center;
	background: rgba(0,0,0,.5);
	height: 15%;
}
#third-text {
	width: 100%;
	top: 20%;
	position: fixed;
	text-align: center;
	background: rgba(0,0,0,.5);
	height: 15%;
	opacity: 0;
}

.navbar {
	background: #CCC;
	margin-bottom: 0;
	border-radius: 0;
}

.progress {
	background-image: none;
	border-radius: 0;
	box-shadow: none;
	height: 38px;
	margin: 0;
	position: relative;
	margin: 10px 0 25px;
	background-color: #243135;
	filter: none;
}
.progress .bar {
	float: left;
	width: 0;
	height: 100%;
	font-size: 12px;
	color: #fff;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	background-color: #0e90d2;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
background-image: -webkit-linear-gradient(#149bdf, #0480be);
background-image: -moz-linear-gradient(#149bdf, #0480be);
background-image: -o-linear-gradient(#149bdf, #0480be);
background-image: linear-gradient(#149bdf, #0480be);
	background-repeat: repeat-x;
	border-radius: 0;
	box-shadow: none;
}
.progress .progress-name {
	color: #FFFFFF;
	left: 0px;
	line-height: 38px;
	padding-left: 20px;
	position: absolute;
	z-index: 2;
	width: 100%;
}
.progress .value {
	color: #FFFFFF;
	line-height: 38px;
	position: absolute;
	right: 20px;
}

.black-bg {
	width: 100%;
	height: 100%;
	background: url('img/bg-overlay.png');
	position: absolute;
	top: 0;
	left: 0;
}

ul.unstyled, ol.unstyled {
	margin-left: 0;
	list-style: none;
}

.dark-bg {
	background-color: #1B649C;
}

.color {
	color: #54ACF0;
}
.center {
	width: 50%;
	height: 50%;
	margin: 25% auto;
}

#cv .title {
	font-size: 40px;
	font-weight: 300;
	margin-bottom: 20px;
}
#cv .subtitle {
	font-size: 18px;
	max-width: 700px;
	margin: 0 auto 70px;
}
#cv .social li a {
	color: #fff;
	font-size: 20px;
	border: 1px solid #fff;
	width: 70px;
	height: 70px;
	display: block;
	border-radius: 50%;
	padding: 23px;
	-webkit-transition: all 300ms;
	transition: all 300ms;
}
#cv .social {
	margin-top: 70px;
	margin-bottom: 30px;
}

.portfolio-images div {
	padding: 0; margin: 0;
	margin-right: -30px;
}

#about {
	background-color: #e74c3c;
	color: #FFF;
}

#studies {
	background-color: #1abc9c;
	color: #fff;
}

#cloud {
	background-color: #e67e22;
	color: #fff;
}

#school-projecten {
	background-color: #34495e;
	color: #FFF;
}

#projecten {
	background-color: #f1c40f;
}